div{
    margin: 10px;
    height:60px;
    width: 60px;
    background-color: brown;
}
#d1{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
#d2{
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}
#d3{
    transform: skew(45deg);
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -o-transform: skew(45deg);
}
#d20{
    transform: matrix(1,1,1,0.5,30,50);
    -webkit-transform: matrix(1,1,1,0.5,30,50);
    -moz-transform: matrix(1,1,1,0.5,30,50);
    -ms-transform: matrix(1,1,1,0.5,30,50);
    -o-transform: matrix(1,1,1,0.5,30,50);
}