#box{
    background-color: green;
    padding:2px;
    width: 200px;
    height: 100px;
    margin:30px;
    transition:1s;
    align-content: center;
    box-shadow: 10px 5px 5px gray;
    -webkit-transition:1s;
    -moz-transition:1s;
    -ms-transition:1s;
    -o-transition:1s;
}
#box:hover{
    transform:translateX(-10px) translateY(-10px);
    box-shadow: 20px 10px 10px gray;
    -webkit-transform:translateX(-10px) translateY(-10px);
    -moz-transform:translateX(-10px) translateY(-10px);
    -ms-transform:translateX(-10px) translateY(-10px);
    -o-transform:translateX(-10px) translateY(-10px);
}
p{
    font-size: 20px;
    color: white;
}
#box:active{
    transform:translate(20px);
    -webkit-transform:translate(20px);
    -moz-transform:translate(20px);
    -ms-transform:translate(20px);
    -o-transform:translate(20px);
    box-shadow: 5px 2px 2px gray;
}